.title {
  width: 70vw;
  text-align: center;
  line-height: 2.5rem;
  margin: auto;
  margin-top: 150px;
  color: rgb(var(--color-accent-1-rgb));
  font-size: 2rem;
  letter-spacing: 2px;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  border-top: 2px solid #68eaffb3;
  border-radius: 50px;
  width: 80vw;
  max-width: 1500px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  width: 100%;
}

.sphere {
  position: absolute;
  width: 160px;
  height: 160px;
  filter: saturate(2);
  top: -100px;
  left: 50px;
  animation: rotateRight 45s linear infinite;
}

@keyframes rotateRight {
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .teamContainer {
    padding: 30px;
    width: 90vw;
  }
}

@media (max-width: 999px) {
  .sphere {
    width: 120px;
    height: 120px;
    top: -75px;
    left: 5px;
  }
  .teamContainer {
    padding: 30px 0px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .teamContainer {
    width: 95vw;
  }
  .sphere {
    width: 100px;
    height: 100px;
    left: -20px;
    top: -60px;
  }
  .row {
    flex-wrap: wrap;
    margin: 0;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 1.45rem;
    letter-spacing: 0px;
    width: 80vw;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 1.2rem;
  }
}
