.title {
  width: 70vw;
  text-align: center;
  line-height: 2.5rem;
  margin: auto;
  margin-top: 150px;
  color: rgb(var(--color-accent-1-rgb));
  font-size: 2rem;
  letter-spacing: 2px;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: 20px;
  padding: 30px;
  border-top: 2px solid #68eaffb3;
  border-radius: 50px;
  width: 80vw;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  width: 100%;
}

.sphere {
  position: absolute;
  width: 160px;
  height: 160px;
  filter: saturate(2);
  top: -100px;
  left: 50px;
  animation: rotateRight 45s linear infinite;
}

@keyframes rotateRight {
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
