.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  z-index: 10;
  transition: all 0.3s;
  width: 100vw;
  height: 90px;
}

.innerShell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1600px;
}

.navbarScrolled {
  background-color: rgba(var(--color-main-2-rgb), 0.6);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.25);
}

.logoContainer {
  position: relative;
  width: 180px;
  height: 100%;
}

.logo {
  object-fit: contain;
}

.logo:hover {
  cursor: pointer;
}

.navLinks {
  display: flex;
}

.navItem {
  color: rgb(var(--color-accent-1-rgb));
  font-size: 1.1rem;
  font-weight: 700;
  display: inline-block;
  margin: 0 35px;
  transition: all 0.3s;
}

.navItem:hover {
  cursor: pointer;
  filter: opacity(0.65);
}

@media (max-width: 1200px) {
}

@media (max-width: 999px) {
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 30px;
  }
  .innerShell {
    justify-content: space-between;
  }
  .navItem {
    margin: 0;
  }
  .navItem:nth-child(1),
  .navItem:nth-child(2) {
    display: none;
  }
}

@media (max-width: 425px) {
  .navbar {
    height: 60px;
  }
  .logoContainer {
    position: relative;
    width: 130px;
    height: 100%;
  }
}

@media (max-width: 375px) {
  .innerShell {
    justify-content: center;
  }
  .navLinks {
    display: none;
  }
}
