.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 1200px) {
}

@media (max-width: 999px) {
}

@media (max-width: 768px) {
}

@media (max-width: 425px) {
}

@media (max-width: 375px) {
}
